body {
    background-color: black;
    margin: 0px;
}
div#world{
    display: inline-block;
    vertical-align: top;
}
div.row div{
    width: 20px;
    height: 20px;
    display: inline-block;
}
div.brick{
    background-color: blue;
}
div.coin{
    background: url('../images/coin.gif');
    background-repeat: no-repeat;
    background-position: center;
}
div.cherry{
    background: url('../images/cherries.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.empty{
}
div#pacman{
    background: url('../images/pacman.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
div#score{
    border: 1px solid white;
    width: 30px;
    height: 20px;
    color: white;
    padding: 7px;
    text-align: center;
    left: 210px;
    display: inline-block;
    vertical-align: top;
}